/* I don't like the background introduced with 2.6.x. */
.article.markdown-body {
    background-image: none;
}

/* I like having visual structure. */
.article.markdown-body p, pre.highlight {
    margin-bottom: 1ex;
}

/* Draw a subtle border around images for clarity */
.article.markdown-body div.imageblock img {
    border: 1px solid #ccc;
    margin-left: 1em;
}

/* I prefer a keyboard-ey look over the code-ey look. */
span.keyseq kbd {
    font-family: Menlo,Consolas,liberation mono,monospace;
    display: inline-block;
    color: rgba(0,0,0,.8);
    font-size: .70em;
    line-height: 1.45;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2),0 0 0 .1em white inset;
    box-shadow: 0 1px 0 rgba(0,0,0,.2),0 0 0 .1em #fff inset;
    margin: 0 .15em;
    padding: .2em .5em .1em .5em;
    vertical-align: middle;
    position: relative;
    top: -.1em;
    white-space: nowrap;
}

/* I prefer the gray */
p.date {
    color: #999;
}
